header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

.profile-photo {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    flex-shrink: 0;
}

main {
    display: flex;
    align-items: center;
    margin-top: 2rem;
}

main p {
    margin-left: 2rem;
}

.education-entry {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}

.education-entry img {
    margin-right: 1.5rem;
}

.interest-entry {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
    flex: 1;
}

.interest-entry p {
    margin-right: 1.5rem;
}

.interest-entry img {
    max-width: 200px;
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.project-entry {
    text-align: center;
}